/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
} */
@import "tailwindcss";

@theme {
  --color-green-en: #66CB92;
--color-red-en: #FF9396;

--color-bg-color-1: #FC00FF;
--color-bg-color-2: #00DBDE;
}

.card-wrapper {
  perspective: 1000px;
  width: 25em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}

.card.faceDown {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  /* justify-content: center; */
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}



progress {
  /* border-radius: 7px; 
  width: 80%;
  height: 22px;
  margin-left: -11.5%;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  width: 100%;
  height: 1em;
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: #66CB92;
}